/*Navigation*/
#navbar{
    flex-direction: column;
height:23vh;
}
#navbar ul li a{
    font-size: 20px;
    padding: 3px 7px 8px 7px;
}
/*Home section*/
#home{
    height: 370px;
    padding: 3px 68px; 
}
#home::before{
    height: 470px;
 
}
#home p{
    font-size: 15px;
}
/*Services section*/
#services{
    flex-direction: column;
}
#services .box {
    padding: 20px;
    margin: 2px 0px;
    margin-bottom: 20px;
}    

/*Client section*/
#client{
   flex-wrap: wrap;

}
#client img{
    width:66px;
    padding: 6px; 
    height: auto;
}
#client 
/*Contact*/
#contact-box form{
    width: 80%;
}
/*footer*/
/*Utility class*/
.h-primary{
    font-size: 25px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}